apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: web-app
data:
  default.conf: |
    server {
        listen 80;
        server_name _;
        
        charset utf-8;

        location / {
            root   /usr/share/nginx/html;
            index  index.html;
        }
    }
